---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Contact | 이찬욱">
    <Header />

    <section class="contact-section p-6">
        <h1 class="text-2xl font-bold mb-4">연락처</h1>
        <p class="mb-4">저와 대화를 원하신다면, 아래의 연락처를 통해 편하게 연락 주시기 바랍니다.</p>
        <p class="mb-4">이메일: <a href="mailto:neverprogrammer@gmail.com" class="text-blue-500">neverprogrammer@gmail.com</a></p>
        <p class="mb-4">전화번호: <a href="tel:+8210-3333-3333" class="text-blue-500">010-6496-9410</a></p>
        <p class="font-semibold">감사합니다!</p>
    </section>
</Layout>
