<footer class="p-6 bg-gray-800 text-white mt-auto">
    <div class="container mx-auto text-center">
        <p class="mb-4">© 2024 이찬욱. All rights reserved.</p>
        <ul class="flex justify-center space-x-4">
            <li><a href="#" class="hover:text-red-300 transition-colors duration-200">Privacy Policy</a></li>
            <li><a href="#" class="hover:text-red-300 transition-colors duration-200">Terms of Service</a></li>
            <li><a href="https://github.com/wHoIsDReAmer" class="hover:text-red-300 transition-colors duration-200" target="_blank">GitHub</a></li>
        </ul>
    </div>
</footer>
