---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="p-6 shadow-md transition-all duration-200 hover:shadow-lg">
    <div class="container mx-auto">
        <nav class="flex flex-col md:flex-row items-center justify-between dark:text-white-200">
            <ul class="flex flex-col md:flex-row items-center space-x-0 md:space-x-6">
                <li class="mb-2 md:mb-0"><a href="/" class="hover:text-red-300 transition-colors duration-200">Home</a></li>
                <li class="mb-2 md:mb-0"><a href="https://velog.io/@devcw" class="hover:text-red-300 transition-colors duration-200" target="_blank">Blog</a></li>
                <li class="mb-2 md:mb-0"><a href="/contact" class="hover:text-red-300 transition-colors duration-200">Contact</a></li>
            </ul>

            <ThemeToggle/>
        </nav>
    </div>
</header>