@font-face {
    font-family: applefont1;
    src: url("https://fonts.gstatic.com/l/font?kit=7cHqv4kjgoGqM7E3_-gc5Ug5vWhCFdXZWJfSz_S81ms-Lw&skey=4c8d0d0b13516148&v=v12") format("woff2")
}

body {
    margin: 0px;
    background-color: rgb(34, 35, 43)
}

body > * {
    user-select: none;
}

.navbar {
    background-color: rgb(22, 22, 23);
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all .5s ease-in-out;
}

.navbar:hover {
    background-color: rgb(122, 122, 122);
}

.navbar > * {
    color: white;
    user-select: none;
    margin-left: 30px;
    font-family: applefont2;
}

.navbar > img {
    width: 64px;
    height: 64px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.main {
    width: 70vw;
}

.main > * {
    font-family: applefont1;
    color: white;
}

.main > ul > li > * {
    display: inline-block;
}

.main > ul > li > ul {
    display: block;
    margin-top: -5px;
}

a {
    color: rgb(86, 156, 215);
}

hr {
    border: 0.5px #5e5e5e solid;
    background: #5e5e5e;
}

dw {
    color: #8f86ce;
}

dw::before {
    content: "20";
}
dw::after {
    content: "~";
}

.featured_works {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
}

.featured_works .work_box {
    width: 17vw;
    height: 17vw;
    position: relative;
}

.featured_works .work_box .under_box {
    width: 100%;
    height: 38%;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    position: absolute;
    bottom: 0px;
}

.featured_works .work_box .under_box > * {
    margin-left: 10px;
}

.featured_works .work_box .under_box #title {
    font-weight: 900;
    font-size: 1.2vw;
}

.featured_works .work_box .under_box #content {
    font-size: 1vw;
    color: #afafaf;
}

.featured_works .work_box #bg {
    transition: all .1s ease-in-out;
    filter: blur(4px);
}

.featured_works .work_box #bg:hover {
    cursor: pointer;
    filter: none;
}